@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
  background: linear-gradient(135deg, #43cea2, #185a9d);
  font-family: "montserrat";
  /* overscroll-behavior-x: none; */
  overscroll-behavior-y: none;
}

h1 {
    color: white;
}

@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

